// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* universal */
body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
  .link {
    cursor: pointer;
  }
}

/* header */
.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  margin-bottom: 40px;
  margin-top: 0px;

  .dropdown-menu {
    padding: 0px;

    li {
      a {
        border-bottom: 1px solid #d8d8d8;
        line-height: 2.4;

        .glyphicon {
          margin-right: 8px;
        }
      }

      div {
        cursor: default;
        line-height: 2.4;
      }
    }
  }

  .badge-tip {
    transform: scale(0.8);
    margin-top: -20px;
  }
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100% ;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100% ;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #c1c1c1;

      a {
        color: inherit;
      }
    }
  }
}

/* User profile page */
.users-show-page {
  .user-info {
    .thumbnail {
      margin-bottom: 0px;
    }
  }
}

/* User profile page */
.users-show-page {
  .user-info {
    .thumbnail {
      margin-bottom: 0px;
    }
  }

  .nav-tabs {
    margin-bottom: 20px;

    >li.active > a {
      background-color: #fff;
    }
  }

  .list-group {
    .list-group-item {
      border: none;
      margin-bottom: 0px;
      border-bottom: 1px solid #efefef;

      .meta {
        color: #b3b3b3;
      }
    }
  }

  .pagination {
    margin: 12px 0;
  }

  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
  .reply-content {
    margin: 6px 0;
  }
}

/* Post Index Page */
.posts-index-page, .categories-show-page {
  .post-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding: 5px 14px;
      font-size: 0.9em;
    }
    a {
      color: #444444;
    }
    .meta {
      font-size:0.9em;
      color: #b3b3b3;
      a {
        color: #b3b3b3;
      }
    }
    .badge {
      background-color: #d8d8d8;
    }
    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}

/* Post Show Page */
.posts-show-page {
  .post-content {
    position: relative;
  }
  .post-label-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    background-color: gainsboro;
  }
  .post-label-left {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: gainsboro;
  }
  .post-good {
    color: goldenrod;
  }
}

.post-reply {
  hr {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  a {
    color: inherit;
  }

  .meta {
    font-size: .9em;
    color: #b3b3b3;
  }
}

#repliee-label {
  float: left;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  user-select: none;
}

/*followers and followees*/
.avatar {
  float: left;
  margin-right: 10px;
  max-width: 50px;
  border-radius: 50%;
}

.users {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid;
  }
}